header{
    background-color: hsl(208, 100%, 80%);
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: sticky;
    top:0;
    z-index: 10;
}

header>h1{
    font-size: 3rem;
    color: white;
    padding-left:1rem
}

ul{
    color: white;
    display: flex;
    font-size: 1.3rem;
}

li{
    padding:1.5rem;
    cursor: pointer;
}

li:hover{
    background-color:hsl(208, 100%, 70%) ;
}

main{
    display: flex;
    flex-direction: column;
    align-items: center;
}

main>article{
    margin:1em;
    padding: 1em;
    width: 80%;    
    background-color: rgba(240, 248, 255, 0.767);
    box-shadow: 1px 1px 1px 1px rgba(197, 204, 209, 0.767);
}

main>article:hover{
    background-color: rgb(225, 238, 250);
}

article>h2{
    font-size: 2em;
    text-align: center;
    margin-bottom: 0.6rem;
}

article>h5{
    text-align: left;
    font-style: italic;
    margin-bottom: 1em;
    margin-left:20px;
    color: hsla(208, 25%, 37%, 0.548);
}

article>h4{
    text-align: center;
}

article>p{
    width:80%;
    text-align: center;

    margin:auto;
    margin-top: 1.5rem;
}

#login-page-wrapper{
    display: flex;
    justify-content: center;
}

#login-page-wrapper h2{
    font-size: 1.7rem;
    margin-bottom: 3rem;
}

.new-post-form{
    width:400px;
    margin:auto;
    margin-top:40px;
}

.new-post-form input{
    width: 340px;
}

.post-listing{
    position: relative;
}

.alter{
    position: absolute;
    top:5px;
    right:5px
}

.alter>span{
    text-decoration: underline;
    margin-left: 15px;
    cursor: pointer;
}

.form-group{
    display: flex;
    justify-content: space-between;
    margin-bottom:1rem;
}

.form-group>button{
    margin:auto
}

.form-group.submit{
    width: 340px;
    float: right;
}

.login-section,.register-section{
    margin:30px
}

.comment-number{
    text-align: right;
    margin-right:40px;
    margin-top: 10px;
}

button,#submit{
    margin-top: 1rem;
    background-color: white;
    padding: 0.5em 1em;
    cursor: pointer;

}

textarea{
    resize: none;
    display: block;
    width: 340px;
    height: 200px;
}

.comments{
    width:50%;
    margin-bottom:20px
}

#add-comment-form{

}

.left{
    text-align:left;
    margin-left:0
}

.comments h3{
    font-weight: bold;
    margin-left:20px
}

.comments p{
    border:2px solid rgba(0, 0, 0, 0.144);
    padding:1.5em
}

.pointer{
    cursor: pointer;
}